@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Nanum+Myeongjo:wght@400;700&family=Inter:wght@400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "tailwindcss";

@theme {
  --font-serif: "Nanum Myeongjo", serif;
  --font-sans: "Pretendard Variable", Pretendard, "Inter", "Verdana", "Nanum Gothic", sans-serif;

  --color-primary: #000666;
  --color-primary-container: #1a237e;
  --color-secondary: #004d40;
  --color-secondary-container: #b2dfdb;
  --color-tertiary: #2d150c;
  --color-tertiary-container: #452920;
  --color-on-primary: #ffffff;
  --color-on-secondary: #ffffff;
  --color-on-background: #0a0a0c;
  --color-on-surface-variant: #333333;
  --color-background: #fbf8ff;
  --color-surface: #fbf8ff;
  --color-surface-container: #efecf5;
  --color-surface-container-low: #f5f2fb;
  --color-surface-container-lowest: #ffffff;
  --color-outline: #444444;
  --color-outline-variant: #aaaaaa;

  --border-radius-xl: 1rem;
  --border-radius-2xl: 1.5rem;
}

@layer utilities {
  .hanji-texture {
    background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuCKKVLwQb55EsRg_Uzwn9QFw9sL0JJY4DxSqPqYfHqH0OjOSO4V0aW6LpPEodlcO89XpoIJfvtN7P5PbyyMXUWTuJRc3rIf7pxjGyZmLrti7o1zBGqY2MKGXszJNZijh5ZhKOt2vY2q6kTmHe-M-P73jDaenYxPcWbvmi9PCCHElXxBnaX0zQEahmWY8vV2oMRVZ_JyJBxTeS6VrWE8PxkeM4vX_RXk9Z_jYqNKQfGlNdVv3xL6-wGQukafLflqG5b4v5q1g4OxnP0);
    background-blend-mode: multiply;
  }

  .scroll-indicator-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @keyframes pulse {
    0%, 100% {
      opacity: 1;
      transform: translateY(0);
    }
    50% {
      opacity: .5;
      transform: translateY(10px);
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-on-background font-sans;
}

h1, h2, h3, h4 {
  @apply font-serif;
}
